{
  "parser": "@babel/eslint-parser",
  "plugins": [
    "flowtype",
    "react"
  ],
  "settings": {
    "react": {
      "pragma": "React",  // Pragma to use, default to "React"
      "version": "detect", // React version. "detect" automatically picks the version you have installed.
                           // You can also use `16.0`, `16.3`, etc, if you want to override the detected value.
      "flowVersion": "detect" // Flow version
    }
  },
  "rules": {
    "no-undef": 2,
    "flowtype/define-flow-type": 1
  }
}
